* {
    box-sizing:border-box;
}
body {
    font-size: 12px;
    color: #000;
    background-color: #fff;
    margin: 0;
}
.container {
    height: 100%;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header {
    height: 40px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    padding: 0 12px;
}
.content {
    padding: 0 12px;
    margin: 12px 0;
    min-height: 200px;
    max-height: 530px;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 40px;
}
.description {
    margin-top: 5px;
    font-size:11px;   
    color: darkgray;
    text-align: left;
}

a {
    color: black;
}
.container h3 {
    font-size: 14px;
}
.btn {
    height: 38px;
    width: 200px;
    background-color: #eee;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover {
    background-color: darkgray;
}
.hr {
    margin: 20px 0;
    border: 0.5px solid #eee;
}
#error {
    color: red;
    display:none;
}
.form-horizontal {
    display: flex;
    flex-direction: column;
}
.form-control {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.form-control label {
    margin-bottom: 8px;
}

.form-control input, .form-control select {
    height: 38px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 8px;
    text-indent: 10px;
}
.form-control input:focus, .form-control select:focus {
    border-color: #01539d;
    box-shadow: 0 0 0 2px rgba(255, 55, 5, 0.06);
    border-inline-end-width: 1px;
    outline: 0;
}
.btn-save {
    align-items: center;
}
.form-control button {
    border-radius: 8px;
    border: 0;
    width: 200px;
    height: 38px;
    background-color: #01539d;
    color: #fff;
    cursor: pointer;
}
.form-control button:hover {
   opacity: 0.8;
}
.footer {
    padding: 0 12px;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: end;
    background: #eee;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.hide {
    display: none;
}
.openai-input {
    position: relative; 
    width: 100%;
    height: 38px;
}
.openai-input input {
    z-index: 9;
    padding-right: 38px;
}
.openai-input span {
    z-index: 8;
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.openai-input span img {
    width: 20px;
    height: 20px;
}