# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bun.lockb
yarn.lock

node_modules
extension/node_modules
extension/chatgpt-wizard
extension/chatgpt-wizard-*.zip
extension/.env
extension/yarn.lock
extension/package-lock.json
extension/bun.lockb


server/node_modules
server/uploads
server/bun.lockb
server/yarn.lock
server/package-lock.lock
server/*.traineddata
server/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

