.icon {
  width: 26px;
  height: 26px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}
.menu {
  width: 26px;
  cursor: pointer;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #eee;
}
.menuBox {
  width: 150px;
  top: 110%;
  position: absolute;
  right: 0;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  background: #fff;
  padding-bottom: 6px;
  border-radius: 8px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
}
.menuTitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  padding: 12px 12px 6px 12px;
  line-height: 16px;
  border-bottom: 1px solid #eee;
  color: #000;
}
.menuItem {
  height: 32px;
  display: flex;
  padding-right: 0;
  align-items: center;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding-left: 12px;
  padding-right: 12px;
}
.menuItem:hover {
  background: #eee;
}
.iconItem {
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.chatgptIcon {
  position: absolute;
  background: rgb(255, 255, 255);
  height: 30px;
  width: 60px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px,
    rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  z-index: 2147483647;
  display: flex;
  align-content: center;
  padding: 2px;
}
.chatgptPopup {
  background-color: white;
  padding: 0px 10px 10px;
  z-index: 2147483647;
  color: black;
  border: solid transparent;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px,
    rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  transition: left 0.1s ease 0s, top 0.1s ease 0s;
  padding: 0;
}
.popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 8px;
  word-wrap: break-word;
}
.popupHead {
  border-bottom: 1px solid #eee;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-grow: 0;
}
.popupLogo {
  cursor: move;
  display: flex;
  align-items: center;
  width: calc(100% - 120px);
}
.popupLanguage {
  margin: 0;
  width: 120px;
  height: 32px;
  background: #fff;
  color: #000;
  border-radius: 8px;
  border: 1px solid #eee;
  padding: 0 0 0 8px;
  font-size: 14px;
}
.popupLanguage:focus-visible {
  outline: none;
}
.popupTone {
  margin: 0;
  width: 120px;
  height: 32px;
  background: #fff;
  color: #000;
  border-radius: 8px;
  border: 1px solid #eee;
  padding: 0 0 0 8px;
  font-size: 14px;
}
.popupTone:focus-visible {
  outline: none;
}

.popupFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: darkgrey;
  margin-top: 10px;
  flex-direction: column;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 8px;
}
.popupFooter p {
  font-size: 12px;
  color: darkgrey;
  margin: 0;
}
.popupTitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}
.boxChat {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #eee;
  padding: 10px 10px 0 10px;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.stopStream {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  padding: 3px;
  border-radius: 8px;
  width: 65px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  margin-left: 8px;
}
.question {
  display: flex;
  justify-content: end;
}
.questionDetail {
  max-width: 84%;
  font-size: 14px;
  text-align: left;
  background: #eee;
  padding: 6px 8px;
  border-radius: 8px;
  overflow-x: hidden;
  word-break: break-word;
  white-space: pre-wrap;
}
.answer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  /* cursor: pointer; */
}

.answerDetail {
  white-space: pre-wrap;
  min-width: 30px;
  max-width: 84%;
  font-size: 14px;
  text-align: left;
  background: #eee;
  padding: 6px 8px;
  border-radius: 8px;
  overflow-x: hidden;
  word-break: break-word;
}
.copy {
  display: none;
}
.answerDetail:hover .copy {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: -20px;
}
.typing {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 21.5px;
}

.typing_dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: darkgray;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing_dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing_dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing_dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing_dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: darkgray;
  }
  28% {
    transform: translateY(-7px);
    background-color: darkgray;
  }
  44% {
    transform: translateY(0px);
    background-color: darkgray;
  }
}

.popupAsk {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
  padding: 0px;
}
.popupHeadAsk {
  padding: 8px;
  flex-grow: 0;
  border-bottom: 1px solid rgb(238, 238, 238);
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.iconCloseAsk {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.boxChatAsk {
  height: calc(100% - 43px);
  overflow-y: auto;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 2;
  justify-content: space-between;
}
.boxChatAskBody {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.popupFooterAsk {
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: rgb(169, 169, 169);
  margin-top: 0;
  flex-direction: column;
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  max-height: 178px;
}
.popupInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
}
textarea.questionInput {
  width: calc(100% - 35px);
  height: auto;
  min-height: 45px;
  max-height: 145px;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
  resize: none;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin: 0;
  padding: 12px !important;
  color: #000;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  font-size: 14px;
}
textarea.questionInput:focus-visible {
  outline: none;
}
.btnSend {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483646;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.selection {
  position: fixed;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2147483646;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.loading {
  width: 75px;
  height: 75px;
  margin: 0;
  background: transparent;
  border-top: 4px solid #12a37f;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.promptPopup {
  position: absolute;
  background-color: white;
  padding: 10px;
  z-index: 2147483647;
  color: black;
  border: solid transparent;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px,
    rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  transition: left 0.1s ease 0s, top 0.1s ease 0s;
}
.promptBody {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  border-bottom: 1px solid #eee;
}
textarea.promptInput {
  height: auto;
  min-height: 45px;
  max-height: 145px;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
  resize: none;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin: 0;
  padding: 12px !important;
  color: #000;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  font-size: 14px;
}
textarea.promptInput:focus-visible {
  outline: none;
}
.btnGenerate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnGenerate span {
  height: 32px;
  width: 150px;
  background-color: #01539d;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btnGenerate span:hover {
  background-color: #1176ce;
}
.imagePreview {
  width: 200px;
  height: 150px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
}
